.businessList{
    display:flex;
    width:80%;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
}
.emptyList{
    width:80%;
    background-color: rgba(255,255,255,0.6);
    margin: 0 auto;
    text-align: center;
}
.emptyList h2{
    color: var(--error-color);
}
.emptyList p{
    color: var(--text-primary);
}
